/* GENERAL */
:root {
  --black: #000000;
  --white: #ffffff;
  --blue: #2d64e6;
  --red: #cd3d0f;
  --grey: #7a7a7a;
  --dark-grey: #363636;
  --light-grey: #bebcbb;
  --large: 46px;
  --normal: 18px;
  --medium: 500;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-size: var(--normal);
  font-weight: var(--medium);
}
h1 {
  font-size: var(--large);
}
button.btn {
  border-radius: 20px;
  font-weight: var(--medium);
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: transform 0.2s;
}
button.btn:hover {
  box-shadow: 0px 0px 0px 3px var(--white) inset;
  transform: scale(1.1);
}
.card {
  border-radius: 20px;
  padding: 3px;
  margin-top: 20px;
  border: 3px solid transparent;
  cursor: pointer;
  position: relative;
  transition: top ease 0.5s;
}
#playstation-5 img,
#game-cards img {
  border-radius: 20px;
}
#playstation-5 p,
#playstation-4 p,
#store p {
  color: var(--grey);
}

/* ----HEADER---- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1000;
}
.header-top {
  background-color: var(--black);
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#sony-logo {
  width: 80px;
  margin-right: 10px;
}
#sony-logo img {
  width: 100%;
  height: 100%;
}
.navbar-light .navbar-nav .nav-link {
  color: var(--black);
  font-weight: var(--medium);
}
.dropdown-toggle::after {
  color: var(--grey);
}
#navbarDropdown:focus:after {
  transform: rotate(180deg);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--blue);
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:hover.dropdown-toggle::after {
  color: var(--blue);
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: transparent;
}
ul.dropdown-menu.show > li > a {
  text-align: center;
}
ul.dropdown-menu.show > li > a > p {
  font-size: 16px;
  padding: 5px;
}
ul.dropdown-menu.show > li > a:active > p {
  color: var(--black);
}
ul.dropdown-menu.show > li {
  margin: 10px;
}
#accedi {
  background-color: var(--dark-grey);
  border: 2px solid var(--dark-grey);
}
#lens {
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
}

/* ---- MAIN ---- */
main {
  margin-top: 100px;
}

/* JUMBOTRON */
#jumbotron {
  width: 100%;
  margin-top: 100px;
  background: url(../img/jumbo-bg.png) center center no-repeat;
  background-size: cover;
}
#returnal-logo {
  width: 50%;
  margin-top: 200px;
  min-width: 270px;
}
button#acquista {
  width: fit-content;
  border-radius: 20px;
  background-color: var(--red);
  border: 2px solid var(--red);
}

/* SECTION PLAYSTATION 5 */
#playstation-5 .card:hover {
  border: 3px solid var(--blue);
  top: -10px;
  box-shadow: 10px 10px 5px var(--grey);
  opacity: 0.8;
}
#blue-subtitle {
  color: #4598db;
}
#more-info {
  background-color: var(--blue);
  border: 2px solid var(--blue);
  width: fit-content;
}
.ps5-component {
  border-bottom: 3px solid transparent;
  cursor: pointer;
}
.ps5-component:hover {
  border-bottom: 3px solid var(--blue);
}

/* SECTION IT TAKES TWO */
#it-takes-two {
  width: 100%;
  background: url(../img/it-takes-two-hero-banner-desktop.jpg) center center
    no-repeat;
  background-size: cover;
}
#it-takes-two-logo {
  width: 50%;
  min-width: 270px;
  margin-top: 30px;
}
button#acquista {
  width: fit-content;
  background-color: var(--red);
  border: 2px solid var(--red);
}

/* SECTION GAME CARDS */
#game-cards {
  background-color: var(--dark-grey);
}
#game-cards img {
  cursor: pointer;
  transition: transform 0.5s;
}
#game-cards img:hover {
  opacity: 0.5;
  transform: scale(1.1);
}

/* SECTION PLAYSTATION 4 */
button#scopri {
  border: 2px solid var(--blue);
}

/* SECTION PLAYSTATION PLUS */
#playstation-plus {
  background-color: var(--light-grey);
}
#playstation-plus-description {
  padding: 20px 0;
}
#playstation-plus-description img {
  width: 60%;
}
#ps-plus-button {
  background-color: #d9dadc;
  color: var(--blue);
  border: 2px solid #d9dadc;
  width: fit-content;
}
#playstation-plus-image {
  display: none;
}
#playstation-plus-image img {
  height: 100%;
}

/* SECTION STORE */
#store img:hover {
  opacity: 0.5;
  transform: scale(1.05);
}
#store img {
  cursor: pointer;
  transition: transform 0.5s;
}

/* SECTION PLAYSTATION NOW */
#playstation-now {
  background-color: #161c3b;
}
#playstation-now-description {
  padding: 20px 0;
}
#playstation-now-description img {
  width: 60%;
}
#ps-now-button {
  background-color: var(--white);
  color: var(--blue);
  border: 2px solid var(--white);
  width: fit-content;
}
#ps-now-button:hover {
  box-shadow: 0px 0px 0px 3px var(--blue) inset;
}
#playstation-now-image {
  display: none;
}
#playstation-now-image img {
  height: 100%;
}

/* SECTION SOCIAL */
#social img {
  cursor: pointer;
  transition: transform 0.2s;
}
#social img:hover {
  transform: scale(1.1);
}

/* ----FOOTER---- */
footer {
  background-color: var(--blue);
}
footer svg {
  cursor: pointer;
}
footer a:hover {
  opacity: 0.7;
}

/* TOP FOOTER */
.site-footer__categories > ul > li {
  list-style: none;
}
.site-footer__categories > ul > li > a {
  color: white;
  text-decoration: none;
  font-weight: var(--medium);
}

/* BOTTOM FOOTER */
#bottom-footer img {
  width: 150px;
}
#copyright-text {
  font-size: 16px;
  font-weight: 400;
}

/* MEDIA QUERIES */
@media screen and (min-width: 992px) {
  #returnal-logo {
    max-width: 20%;
  }
  #jumbotron p,
  #jumbotron h1 {
    max-width: 30%;
  }
  #it-takes-two-logo {
    max-width: 20%;
  }
  #it-takes-two p,
  #it-takes-two h1 {
    max-width: 30%;
  }
  #bottom-footer {
    width: 50%;
  }
  .dropdown-menu {
    position: fixed !important;
    width: 100vw;
    top: 100px !important;
    left: 0 !important;
    margin: 0;
    padding: 30px 0;
    border: none;
    border-radius: 0;
    text-align: center;
  }
  ul.dropdown-menu.show {
    width: 100%;
  }
  ul.dropdown-menu.show > li {
    display: inline-block;
  }
  ul.dropdown-menu.show > li > a > img {
    width: 10vw;
    margin: 1vw;
  }
  .dropdown-divider {
    width: 100vw;
    margin: 40px 0;
  }
  .dropdown-item {
    padding: 0px 0px;
  }
  .bottom-item {
    margin: 0 1vw;
    font-weight: var(--medium);
    color: var(--blue);
  }
  .bottom-item:hover {
    color: var(--blue);
  }
  .dropdown-item:hover {
    box-shadow: 2px 2px 4px var(--dark-grey);
  }
  .no-margin {
    margin: 0 !important;
  }
}
@media screen and (min-width: 768px) {
  #playstation-plus-description,
  #playstation-plus-image,
  #playstation-now-description,
  #playstation-now-image {
    width: 50%;
    display: inline-block;
  }
  #top-footer {
    width: 100%;
    display: flex;
    align-items: baseline;
  }
  .footer-countries {
    width: 50%;
  }
  .site-footer__categories {
    width: 50%;
    justify-content: space-around;
  }
}
@media screen and (min-width: 576px) {
  #social > .container {
    max-width: 650px;
  }
  #social img {
    max-width: 120px;
    max-height: 120px;
  }
  .site-footer__categories {
    width: 100%;
    display: flex;
  }
}
@media screen and (max-width: 991.98px) {
  button#accedi,
  #lens {
    display: none;
  }
  ul.dropdown-menu.show > li > a > img {
    width: 90%;
    margin: 1vw;
  }
  .bottom-item,
  #dropdown-hr,
  .bottom-li-no-margin {
    display: none !important;
    width: 0;
    height: 0;
    margin: 0 !important;
    padding: 0;
  }
  .dropdown-menu.show {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }
  ul.dropdown-menu.show > li {
    float: left;
    width: 20vw;
    min-width: 200px;
  }
  ul.dropdown-menu.show > li > a {
    overflow: hidden;
    white-space: nowrap;
  }
  .dropdown-menu {
    padding: 0;
    height: 35vh;
    overflow-y: auto;
  }
  .dropdown-item {
    display: block;
    padding: 5px 10px;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
  header form {
    display: block;
  }
  header form > ul {
    width: 100%;
  }
  #navbarDropdown {
    padding: 0 auto;
  }
}
